<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LMT"
        tools:targetApi="31">
        <activity
            android:name="VentanasLMT.TablasUnoAlDiez.Tabla10Activity"
            android:exported="false" />
        <activity
            android:name="VentanasLMT.TablasUnoAlDiez.Tabla9Activity"
            android:exported="false" />
        <activity
            android:name="VentanasLMT.TablasUnoAlDiez.Tabla8Activity"
            android:exported="false" />
        <activity
            android:name="VentanasLMT.TablasUnoAlDiez.Tabla7Activity"
            android:exported="false" />
        <activity
            android:name="VentanasLMT.TablasUnoAlDiez.Tabla6Activity"
            android:exported="false" />
        <activity
            android:name="VentanasLMT.TablasUnoAlDiez.Tabla5Activity"
            android:exported="false" />
        <activity
            android:name="VentanasLMT.TablasUnoAlDiez.Tabla4Activity"
            android:exported="false" />
        <activity
            android:name="VentanasLMT.TablasUnoAlDiez.Tabla3Activity"
            android:exported="false" />
        <activity
            android:name="VentanasLMT.TablasUnoAlDiez.Tabla2Activity"
            android:exported="false" />
        <activity
            android:name="VentanasLMT.TablasUnoAlDiez.Tabla1Activity"
            android:exported="false" />
        <activity
            android:name="VentanasLMT.Calificacion2Activity"
            android:exported="false" />
        <activity
            android:name="VentanasLMT.CalificacionVoFActivity"
            android:exported="false" />
        <activity
            android:name="VentanasLMT.MultipleOpActivity"
            android:exported="false" />
        <activity
            android:name="VentanasLMT.VerdaderoOrFalsoActivity"
            android:exported="false" />
        <activity
            android:name="VentanasLMT.TablasActivity"
            android:exported="false" />
        <activity
            android:name="VentanasLMT.JuegosActivity"
            android:exported="false" />
        <activity
            android:name="VentanasLMT.PerfilActivity"
            android:exported="false" />
        <activity
            android:name="VentanasLMT.MenuPrincipalActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>